<div class="container" id="form">
    <div class="row">
    <h4 class="center-align sign-up">{{editUser.first_name}}, Edit Your Profile</h4>
    <form id="editUserForm">
        <input type="text" name="first_name" placeholder="First Name" value={{editUser.first_name}} id="editFirstName">
        <input type="text" name="last_name" placeholder="Last Name" value={{editUser.last_name}} id="editLastName">
        <input type="text" name="bio" placeholder="Bio" value={{editUser.bio}} id="editBio">
        <input type="text" name="email" placeholder="Email" value={{user.email}} id="editEmail">
        <input type="password" name="password" placeholder="Password" value={{user.password}} id="editPassword">
        <input type="text" name="zip" placeholder="Zip" value={{editUser.zip}} id="editZip">
        <input type="hidden" id="editUser" value={{user.id}}>
        <input type="submit" placeholder="First Name" value="Submit Changes">
</div>
    </form>
</div>