<div class="container" id="form">
    <div class="row">
    <h1 class="center-align sign-up">{{user.first_name}}, Edit Your Profile</h1>
    <form id="editUserForm">
        <input type="text" name="first_name" value={{user.first_name}} id="editFirstName">
        <input type="text" name="last_name" value={{user.last_name}} id="editLastName">
        <input type="text" name="email" value={{user.email}} id="editEmail">
        <input type="password" name="password" value={{user.password}} id="editPassword">
        <input type="text" name="zip" value={{user.zip}} id="editZip">
        <input type="hidden" id="editUser" value={{user.id}}>
        <input type="submit" value="Submit Changes">
</div>
    </form>
</div>