<div class="container">
  <h1>Edit {{pet.name}}</h1>

  <form id="editPetForm">
    <input type="text" value="{{pet.name}}" id="editPetName" placeholder="Name">
    <input type="text" value="{{pet.gender}}" id="editPetGender" placeholder="Gender">
    <input type="text" value="{{pet.color}}" id="editPetColor" placeholder="Color">
    <input type="text" value="{{pet.age}}" id="editPetAge" placeholder="Age">
    <input type="text" value="{{pet.breed}}" id="editPetBreed" placeholder="Breed">
    <input type="text" value="{{pet.hobbies}}" id="editPetHobbies" placeholder="Hobbies">
    <p>
      <label>
        <input type="checkbox" class="filled-in" checked="checked" value={{pet.vaccinated}} id="editPetVaccinated">
        <span>Vaccinated</span>
      </label>
    </p>
    <br>
    <br>
    <input type="hidden" id="editPet" value={{pet.id}}>
    <button class="upload-widget" id="edit-widget" data-petid={{pet.id}}> Upload Pet Picture</button>
    <input type="submit" value="Update Pet">
  </form>



  <h2>Pictures</h2>
</div>




<div class="container">
  {{#gallery pet.Pictures}}
  <div class="row">
    {{#each this}}
    <div class="col s3">
      <div class="card">
        <div class="card-image">
          <img src={{pictureUrl}}>
        </div>
        <div class="card-action center-align picBtnCard">
          {{#unless profilePic}}
          <button class="pic-btn set-profile-pic" data-id={{id}} data-petId={{petId}}>Set as profile picture</button>
          {{/unless}}
          <button class="pic-btn delete-pic" data-id={{id}}>Delete Photo</button>
        </div>
      </div>

    </div>
    {{/each}}
  </div>
  {{/gallery}}
</div>

<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
<script src="/assets/js/cloudinary.js"></script>