<div class="user__profile center-align">
    <div class="pet__info">
        <div class="carousel" style="height: 800px">
            <div class="card-wrapper" style="display:flex;flex-direction:row;">
                {{#each local}}
                <div class="card carousel-item" style="width:25rem; height:35rem;">
                    <div class="card-image">
                        <div class="slider profile-slider" style="max-height:18rem">
                            <ul class="slides" style="max-height:18rem">
                                {{#each 'Pet.Pictures'}}
                                <li>
                                    <img class="responsive-img" style="max-height:18rem" src={{'pictureUrl'}}
                                        alt="">
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <span class="card-title">{{'Pets.name'}}</span>
                    </div>
                    <div class="card-content">
                        <p>Gender: {{'Pets.gender'}}</p>
                        <p>Age: {{'Pets.age'}}</p>
                        <p>Breed: {{'Pets.breed'}}</p>
                        <p>Color: {{'Pets.color'}}</p>
                        <p>Vaccinated: {{'Pets.vaccinated'}}</p>
                        <p>Hobbies: {{'Pets.hobbies'}}</p>
                    </div>
                    <div class="card-action">
                        <div class="waves-effect waves-light btn-small" id="favorite-btn">
                            <a href={{email}}>Send email</a>
                        </div>
                        <div class="waves-effect waves-light btn-small" id="favorite-btn">
                            Favorite
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>