<div class="user__profile center-align">
    <div class="pet__info">
        <div class="carousel" style="height: 800px">
            <div class="card-wrapper" style="display:flex;flex-direction:row;">
                <div class="card carousel-item" style="width:25rem; height:35rem;">
                    <div class="card-image">
                        <img class="responsive-img"
                            src="https://images.pexels.com/photos/97082/weimaraner-puppy-dog-snout-97082.jpeg?auto=compress&cs=tinysrgb&dpr=1"
                            alt="">
                        <span class="card-title">{{name}}</span>
                    </div>
                    <div class="card-content">
                        <p>Gender: {{gender}}</p>
                        <p>Age: {{age}}</p>
                        <p>Color: {{color}}</p>
                        <p>Vaccinated: {{vaccinated}}</p>
                        <p>Hobbies: {{hobbies}}</p>
                    </div>
                    <div class="card-action">
                        <div class="waves-effect waves-light btn-small" id="favorite-btn">
                            <a href={{user.email}}>Send email</a>
                        </div>
                        <div class="waves-effect waves-light btn-small" id="favorite-btn">
                            Favorite
                        </div>
                    </div>
                </div>
            </div>
            <div class="card carousel-item" style="width:25rem; height:35rem;">
                <div class="card-image">
                    <img class="responsive-img"
                        src="https://images.pexels.com/photos/2253275/pexels-photo-2253275.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        alt="">
                    <span class="card-title">{{name}}</span>
                </div>
                <div class="card-content">
                    <p>Gender: {{gender}}</p>
                    <p>Age: {{age}}</p>
                    <p>Color: {{color}}</p>
                    <p>Vaccinated: {{vaccinated}}</p>
                    <p>Hobbies: {{hobbies}}</p>
                </div>
                <div class="card-action">
                    <div class="waves-effect waves-light btn-small" id="favorite-btn">
                        <a href={{user.email}}>Send email</a>
                    </div>
                    <div class="waves-effect waves-light btn-small" id="favorite-btn">
                        Favorite
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>